body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #110e19;
}
.containerInput {
  display: flex;
  flex: 1 1 22%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 22%;
  height: 80%;
  margin-top: 5rem;
}

h1 {
  color: #ff8400;
  margin: 2px;
}
p {
  color: #ff8400;
  font-size: 1.1em;
  margin-top: 3px;
}

.tutorial {
  background-color: #201b2e;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 50px;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

h3 {
  color: #7968a7;
  margin-bottom: 2px;
  margin-top: 5px;
}

.tutorial p {
  color: #7968a7;
  font-size: 1em;
}

.tuto {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.tar {
  width: 50%;
  padding: 0px 5px;
}

.tar p {
  background-color: #beb9b9;
  color: #4d4d4d;
  padding: 8px 10px 0px;
  font-size: 0.8em;
  border-radius: 15px;
  height: 22px;
}

.but {
  width: 50%;
  justify-content: center;
  padding: 3px 0px;
}

.butVermelho {
  background-color: #2a0f10;
  border: 1px solid #c23f3fcc;
  border-radius: 30px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.circuloVermelho {
  background-color: #c23f3fcc;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 0;
}

.butVermelho p {
  color: #c23f3fcc;
  margin: 0;
  font-size: 0.8em;
}

.butAmarelo {
  background-color: #2a270f;
  border: 1px solid #c8b143;
  border-radius: 30px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4px;
}

.circuloAmarelo {
  background-color: #c8b143;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 0;
}

.butAmarelo p {
  color: #c8b143;
  margin: 0;
  font-size: 0.8em;
}

.butVerde {
  background-color: #112a0f;
  border: 1px solid #44b948;
  border-radius: 30px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4px;
}

.circuloVerde {
  background-color: #44b948;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 0;
}

.butVerde p {
  color: #44b948;
  margin: 0;
  font-size: 0.8em;
}

.containerLista {
  margin-right: 20px;
  margin-top: 5rem;
  margin-bottom: 2rem;
  width: 35%;
  min-height: 80%;
  max-height: auto;
  background-color: #201b2e;
  border-top-left-radius: 47px;
  border-bottom-left-radius: 47px;
  display: flex;
  flex: 1 1 35%;
  flex-direction: column;
  align-items: center;
}

.divLista {
  text-align: center;
  width: 90%;
  padding: 15px;
  min-height: 530px;
  max-height: auto;
}

h2 {
  color: #7968a7;
  margin-bottom: 2px;
}

.mensagemInterativa {
  color: #7968a7;
  font-size: 1em;
}

.containerConclido {
  margin-right: 20px;
  margin-top: 5rem;
  width: 35%;
  height: 80%;
  background-color: #201b2e;
  border-top-right-radius: 47px;
  border-bottom-right-radius: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #ff8400;
  color: #82490c;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
}

button.Remover {
  background-color: #c23f3fcc;
  margin-left: 5px;
  margin-top: 0;
  height: 100%;
  width: 3.6vw;
  border-radius: 10vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.Editar {
  background-color: #e1c849cc;
  margin-left: 5px;
  margin-top: 0;
  height: 100%;
  width: 3.6vw;
  border-radius: 10vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.Concluir {
  background-color: #44b948;
  margin-left: 5px;
  margin-top: 0;
  height: 100%;
  width: 3.6vw;
  border-radius: 10vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  height: auto;
  width: auto;
}
.linhaTarefa {
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: auto;
}

ul li {
  color: #4d4d4d;
  background-color: #beb9b9d3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 5px;
  padding: 25px;
  border-radius: 100px;
}

.divListaConcluida {
  text-align: center;
  width: 90%;
  padding: 15px;
  min-height: 530px;
  max-height: auto;
}

.menuTarefa {
  display: flex;
  flex-direction: row;
  width: 40%;
}

/* Estilo para o campo de entrada */
input[type="text"] {
  padding: 10px;
  width: 80%;
  max-width: 500px;
  margin-top: 40px;
  margin-bottom: 10px;
  border: 2px solid #7968a7;
  border-radius: 5px;
  font-size: 1em;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease;
  background-color: #201b2e;
  color: #7968a7;
}
input[type="text"]:focus {
  color: #7968a7;
  border-color: #7968a7;
  background-color: #201b2e;
}

@media (max-width: 1000px) {
  body {
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    padding: 5%;
  }

  .containerInput {
    margin: 10px;
    width: 80%;
  }

  .containerLista {
    margin: 10px;
    border-radius: 47px 47px 0 0;
    width: 80%;
  }

  .containerConclido {
    margin: 10px;
    border-radius: 0 0 47px 47px;
    width: 80%;
  }
}
